.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 345px) {
    max-width: 345px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1643px) {
    max-width: 1643px;
  }
}
