.logo {
  margin-right: 64px;
}
.footer-logo {
  display: flex;
  // margin-right: 124px;
}
.footer-logo-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 23.96px;
  line-height: 90%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: var(--white-color);
  width: 128px;
}
.footer-logo-text > span {
  color: var(--accent-color);
}