.item-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--text-color);
  width: 340.61px;
}