.articles-item1 {
  padding: 207px 336.65px 86px 339.65px;
  background-image: linear-gradient(
      to top,
      rgba(1, 10, 32, 1),
      rgba(1, 10, 32, 0.85)
    ),
    url(../images/backr-img1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.item1 {
  display: flex;
  gap: 130.86px;
}
.articles-img {
  width: 630.343px;
  height: 460px;
  border-radius: 10px;
}
.articles-inf1 {
  padding-top: 58px;
}
.articles-inf2 {
  padding-top: 68px;
}
.articles-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.19;
  letter-spacing: 0px;
  color: var(--white-color);
  margin-bottom: 4px;
  width: 479.5px;
}
.articles-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 1%;
  color: var(--text-color);
  width: 407.05px;
  margin-bottom: 32.13px;
}
.articles-btn {
  border-radius: 32px;
  padding: 16px 40.91px;
  background-color: var(--accent-color);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--white-color);
  border: none;
}
.articles-item2 {
  padding: 95px 299.69px 305px 383.6px;
  background-image: linear-gradient(
      to bottom,
      rgba(1, 10, 32, 1),
      rgba(1, 10, 32, 0.85)
    ),
    url(../images/backr-img2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.item2 {
  display: flex;
  gap: 124.87px;
}