.articles-item1 {
  background-image: linear-gradient(
      to top,
      rgba(1, 10, 32, 1),
      rgba(1, 10, 32, 0.85)
    ),
    url(../images/backr-img1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 31px 28px 29px;
  @media screen and (min-width: 768px) {
    padding: 107px 336.65px 86px 50px;
  }
  @media screen and (min-width: 1643px) {
    padding: 207px 336.65px 86px 339.65px;
  }
}
.item1 {
  display: flex;
  flex-direction: column;
  gap: 34px;
  @media screen and (min-width: 768px) {
    gap: 30.86px;
    flex-direction: row;
  }
  @media screen and (min-width: 1643px) {
    gap: 130.86px;
    flex-direction: row;
  }
}
.articles-img {
  border-radius: 10px;
  width: 314px;
  height: 232px;
  @media screen and (min-width: 768px) {
    width: 352px;
    height: 332px;
  }
  @media screen and (min-width: 1643px) {
    width: 630.343px;
    height: 460px;
  }
}
.articles-inf1 {
  padding-top: 58px;
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  @media screen and (min-width: 1643px) {
    padding-top: 58px;
  }
}
.articles-inf2 {
  padding-top: 68px;
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  @media screen and (min-width: 1643px) {
    padding-top: 68px;
  }
}
.articles-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.19;
  letter-spacing: 0px;
  color: var(--white-color);
  margin-bottom: 4px;
  width: 314px;
  @media screen and (min-width: 768px) {
    width: 310px;
  }
  @media screen and (min-width: 1643px) {
    width: 479.5px;
  }
}
.articles-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 1%;
  color: var(--text-color);
  width: 314px;
  margin-bottom: 32.13px;
  @media screen and (min-width: 768px) {
    width: 310px;
  }
  @media screen and (min-width: 1643px) {
    width: 407.5px;
  }
}
.articles-btn {
  border-radius: 32px;
  padding: 22.5px 90px;
  background-color: var(--accent-color);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--white-color);
  border: none;
  @media screen and (min-width: 768px) {
    padding: 16px 40.91px;
  }
  @media screen and (min-width: 1643px) {
    padding: 16px 40.91px;
  }
}
.articles-item2 {
  padding: 18px 31px 48px 29px;
  background-image: linear-gradient(
      to bottom,
      rgba(1, 10, 32, 1),
      rgba(1, 10, 32, 0.85)
    ),
    url(../images/backr-img2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    padding: 95px 0 205px 50px;
  }
  @media screen and (min-width: 1643px) {
    padding: 95px 299.69px 305px 383.6px;
  }
}
.item2 {
  display: flex;
  flex-direction: column-reverse;
  gap: 41.5px;
  @media screen and (min-width: 768px) {
    gap: 24px;
    flex-direction: row;
  }
  @media screen and (min-width: 1643px) {
    gap: 124.87px;
    flex-direction: row;
  }
}
