.getting {
  background-color: #dce8f2;
  padding-top: 119px;
  padding-bottom: 117px;
}
.getting-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--black-color);
  margin-bottom: 59.27px;
}
.getting-item {
  margin-bottom: 83.63px;
  padding-left: 102.7px;
}
.getting-item:nth-child(2) .getting-text {
  margin-bottom: 93.9px;
}
.getting-item:nth-child(3) .getting-text {
  margin-bottom: 16.95px;
}
.getting-item-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 26.41px;
  line-height: 1.55;
  letter-spacing: 0px;
  color: var(--black-color);
  margin-bottom: 28.13px;
}
.getting-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 23.47px;
  line-height: 1.625;
  letter-spacing: 0px;
  color: #15143966;
  width: 1038.76px;
}
.traveling {
  display: flex;
  gap: 45.48px;
}
.getting-video {
  position: relative;
}
.video-img5 {
  height: 165.79px;
  width: 249.42px;
  object-fit: cover;
  object-position: center;
}
.traveling-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 26.41px;
  line-height: 1.55;
  letter-spacing: 0px;
  color: var(--black-color);
  margin-bottom: 12.19px;
}
.traveling-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 23.47px;
  line-height: 1.625;
  letter-spacing: 0px;
  color: #15143966;
  width: 446.02px;
}
.start-video4 {
  position: absolute;
  top: 46.95px;
  left: 88.03px;
  padding: 26.41px 22.01px 23.47px 27.88px;
  background: none;
  border: none;
}
.getting-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 18.5px 56px;
  border-radius: 122px;
  border: none;
}