.header {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 48px;
  align-items: center;
  @media screen and (min-width: 1752px) {
    top: 28px;
}
}
.nav-list {
  gap: 62.1px;
  margin-right: 800.5px;
  margin-top: 38px;
  display: none;
  @media screen and (min-width: 1752px) {
    display: flex;
  }
}
.nav-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--white-color);
}
.menu-list {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 30px;
}
.menu-btn {
  border: none;
  background: none;
}

.mob {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: aliceblue;
  @media screen and (min-width: 1752px) {
    display: none;
    pointer-events: none;
  }
}
.is-hidden {
  display: none;
}
.no-scroll {
  overflow: hidden;
  @media screen and (min-width: 1752px) {
    overflow: scroll;
  }
}
