.hero {
  background-image: linear-gradient(
      215.79deg,
      rgba(0, 0, 0, 0.31) 29.66%,
      rgba(0, 0, 0, 0.29) 84.2%
    ),
    url(../images/hero-backr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 153px;
  @media screen and (min-width: 1752px) {
    padding-left: 277.14px;
    padding-top: 266px;
  }
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 58px;
  line-height: 1.083;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--white-color);
  width: 314px;
  margin-bottom: 8px;
  @media screen and (min-width: 1752px) {
    font-size: 120px;
    width: 628px;
    margin-bottom: 21px;
  }
}
.hero-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffffcc;
  background-color: var(--accent-color);
  padding: 26px 64.07px;
  border-radius: 211px;
  border: none;
  margin-bottom: 54px;
}
.hero-end {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-end;
  }
  @media screen and (min-width: 1752px) {
    flex-direction: row;
    align-items: flex-end;
  }
}
.hero-list {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  flex-direction: column;
  padding: 35px 72px 30px 32px;
  gap: 32px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1752px) {
    flex-direction: row;
    gap: 198px;
    padding: 41px 128.07px 49px 71.04px;
    width: 1200px;
  }
}
.hero-num {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--accent-color);
}

.hero-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.5px;
  color: #939393;
}
.hero-video {
  position: relative;
}
.video-img1 {
  width: 314px;
  height: 191px;
  @media screen and (min-width: 1752px) {
    width: 417.22px;
    height: 254px;
  }
}
.start-video1 {
  position: absolute;

  padding: 20px 20px 19px 23px;
  top: 66px;
  left: 128px;
  border: 1px solid var(--white-color);
  box-shadow: 0px 0px 50px 0px #00000080;
  background-color: var(--white-color);
  border-radius: 50%;
  @media screen and (min-width: 1752px) {
    top: 78px;
    left: 170.09px;
    padding: 27.17px 26.18px 25.17px 31.68px;
  }
}
