.hero {
  background-image: linear-gradient(
      215.79deg,
      rgba(0, 0, 0, 0.31) 29.66%,
      rgba(0, 0, 0, 0.29) 84.2%
    ),
    url(../images/hero-backr.jpg);
  padding-left: 277.14px;
  padding-top: 266px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 120px;
  line-height: 1.083;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--white-color);
  width: 627px;
  margin-bottom: 21px;
}
.hero-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffffcc;
  background-color: var(--accent-color);
  padding: 26px 64.07px;
  border-radius: 211px;
  border: none;
  margin-bottom: 197px;
}
.hero-end {
  display: flex;
  align-items: flex-end;
}
.hero-list {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  gap: 198.1px;
  padding: 41px 128.07px 49px 71.04px;
}
.hero-num {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--accent-color);
}

.hero-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.5px;
  color: #939393;
}
.hero-video {
  position: relative;
}
.video-img1 {
  width: 417.22px;
  height: 254px;
}
.start-video1 {
  position: absolute;
  top: 78px;
  left: 170.09px;
  padding: 27.17px 26.18px 25.17px 31.68px;
  border: 1px solid var(--white-color);
  box-shadow: 0px 0px 50px 0px #00000080;
  background-color: var(--white-color);
  border-radius: 50%;
}