.pictures {
  margin: 0 auto;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0 auto;
  width: 314px;
  @media screen and (min-width: 1643px) {
    width: 1277px;
    gap: 31px;
  }
}
.pictures::-webkit-scrollbar {
  display: none;
}
.card-img {
  width: 314px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  @media screen and (min-width: 1643px) {
    width: 405px;
    height: 257px;
  }
}
.picture-card {
  width: 314px;
  height: 200px;
  @media screen and (min-width: 1643px) {
    width: 405px;
    height: 257px;
  }
}
.pre-btn,
.nxt-btn {
  border: none;
  width: 12px;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
  z-index: 9;
}
.pre-btn {
  left: -23px;
}
.nxt-btn {
  right: -23px;
  transform: rotate(180deg);
}
.secrets-gallery {
  position: relative;
  margin: 0 auto;
}
.secrets {
  margin: 0 auto;
  padding-top: 127px;
  margin-bottom: 1726px;
}
.photo {
  background-image: url(../images/backr-img3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.secrets-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 23px;
  @media screen and (min-width: 1643px){
       font-size: 50px;
       margin-bottom: 44.83px;
    }
}
